<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921098329-r19c3d22gf15c0lm65hv7hht3vb271p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921098329-r19c3d22gf15c0lm65hv7hht3vb271p2</string>
	<key>API_KEY</key>
	<string>AIzaSyCSdElvA3iuMwY1eFMPNxBDyPEbF9kTEBg</string>
	<key>GCM_SENDER_ID</key>
	<string>921098329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eaak.one-tv</string>
	<key>PROJECT_ID</key>
	<string>onetv-de12e</string>
	<key>STORAGE_BUCKET</key>
	<string>onetv-de12e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921098329:ios:33b277e8c6bbd1439a3948</string>
</dict>
</plist>